@using HostelReservationsSystem.Models
@model Hostel

@{
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create","Hostels",FormMethod.Post,new{id="popupForm"})) 
{
    @Html.AntiForgeryToken()
    if (Model != null && Model.Hid > 0)
    {
        @Html.HiddenFor(a=>a.Hid)
    }
    <div class="form-horizontal">
        <h4>Hostel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.HostelName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HostelName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HostelName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HostelCat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HostelCat, new SelectList(Enum.GetValues(typeof(CatHostel))),
                    "--- Select Gender ---", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HostelCat, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaOfHostel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HostelCat, new SelectList(Enum.GetValues(typeof(HostelArea))),
                    "--- Select Area ---", htmlAttributes: new { @class = "form-control" })
                @* @Html.EnumDropDownListFor(model => model.AreaOfHostel, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.AreaOfHostel, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
